<%- include('../partials/header.ejs')%>
<body>
    <%- include('../partials/navbar.ejs')%>
    <div class="container mt-2"  >
        <div class="card">
            <div class="card-header">
                <h3>Fazer Pergunta</h3>
            </div>
            <div class="card-body">
                <form action="">
                    <input class="form-control" type="text" name="question" placeholder="Digite sua Pergunta"><br>
                    <button type="submit" class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs')%>